* {
    margin: 0;
    padding: 0;
}

.top {
    height: 75px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 98.04%;
    background: #222222;
    display: flex;
    align-items: center;
}
.top_logo {
    display: flex;
    width: 44px;
    height: 38px;
    margin-left: 231px;
}
.container {
    width: 1600px;
    height: 764px;
    left: 0%;
    right: 0%;
    top: 1.96%;
    bottom: 78.08%;
    background: #F1E4E6;
    display: flex;
}
.preview {
    width: 800px;
    height: 764px;
}
.brend {
    width: 800px;
    height: 382px;
    display: flex;
    align-items: flex-end;
}
.cursor {
    width: 12px;
    height: 92px;
    background: #F16D7F;
    margin-left: 60px;
    margin-right: 16px;
}

.card_box {
    display: flexbox;
    margin-top: 65px;
    
}
.card {

display: inline-flex;
}
.global {
    
}